@import url('https://fonts.googleapis.com/css2? family = Heebo: wght @ 500 & family = Roboto: wght @ 400; 700 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Open + Sans + Condensed: wght @ 700 & display = swap');

*{
    padding: 0;
    margin: 0;
    font-family:'Roboto';
   
    
}
main.principal{
    display:flex;
    width: 100%;
    flex-direction:row;
}
         .fondo{
            width:60%;
            height:300px;
            border: 1px solid black;
}
         .carrrito{
           width:40%;
           height:300px;
           border:1px solid black;
}

header{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    
    
}
header .titulo{
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family:"Roboto";
    margin-top:12px;
   
}

header .boton1 {
    height:30px;
    width:30%;
    align-self:flex-start;
  
  }

}










