<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Descripcion del Producto', stylesheet: 'products/productDetail.css'}); %>
    <body>
        <%- include('../partials/header.ejs') %>
        <br>
        <div class ="principal">

            <section class='primera'>
                <h2 class="suculentas"><%= product.name %></h2>
                <br>
                
            <div class="caja1">
                <div class = "caja1-1">
                    <img class="suculenta1"src="/images/suculenta.jpg"alt="suculenta">
            </div>

            <div class ="caja1-2">
                    <img class="suculenta2"src="/images/suculentas2.jpg"alt="suculenta">
                    <img class="suculenta3"src="/images/suculenta3.jpg" alt="suculenta2">
            </div>
            </div>
            <div class= "caja1-3">
                <h3 class="titulo3">DESCRIPCION</h3>
                <p>Plantas rústicas y fuertes. Es necesario ubicarlas en un lugar muy luminoso y si reciben sol de mañana es ideal. Evitar el rayo solar del mediodía. No pulverizar sus hojas y regar siempre cuando el sustrato se encuentra bien seco.</p>
                <br>
                    <p class="comentario"><label  for="Deja tu comentario">Dejános tu comentario</label></p>
                    
    
                    <form action="/productDetail" method="post">
                        <textarea name="Comentario" id="" cols="20" rows="10"></textarea>
                        <p><input type="submit" value="Enviar"></p>
                    </form>
            </div>        
            </section>
                <section class="segunda">
                <div class= "caja2">
    
                    <div class="caja2-1">
                    <h2 class ="titulo5">PRECIO:$200</h2>
                    <h2 class="titulo6">18 cuotas de $23,21</h2>
                    </div>
                    
                    
                    <div class="caja2-2"><a href=""><img  height ="40 px" width="60 px"src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="product-payment-logos-img card-img lazyloaded"></a>
                        <a href=""><img  height ="40 px" width="60 px"src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="product-payment-logos-img card-img lazyloaded"></a>
                        <a href=""><img  height ="40 px" width="60 px"src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="product-payment-logos-img card-img lazyloaded"></a>
                        <a href=""><img height ="40 px" width="60 px" src="/images/card.svg" alt=""></a>
                        <br>
        
                    </div> 
                    <a href="#"><h4 class="titulo6">VER MEDIO DE PAGO</h4></a>
                    <br>   
                </div>
                        <form class="form1" action="/views/productCart" method="get">
                            <label for="TAMANO">TAMAÑO</label>
                            <select name="TAMANO" id="tamano" name= "tamano">
                                <option value="grande">Grande</option>
                                <option value="pequeno">Pequeño</option>
                                <option value="pequeno">Mediano</option>
                            </select>
                            <label for="cantidad">CANTIDAD</label>
                            <input type="number" id="cantidad" name="cantidad">
                            
                            <button class="carritoenviar" type="submit"><img height ="30 px" width="30 px" src="/images/carrito.svg" alt=""> AGREGAR AL CARRRITO</button>
                            <p>Ya agrregaste este producto?</p><button class="vercarrito" type="submit">Ver carrito</button>
 
                        
                        </form>
                </section>        
                        
                
                    
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>