<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Productos', stylesheet: 'products/productsList.css'}); %>
    <body >
        <%- include('../partials/header.ejs') %>
        <div class="flexListado">
            <h1 class = "titulo">Tus Productos</h1><br><br>
            <div>

                <img class="imagenListado" src="/images/suculenta2.jpg" alt="suculenta2">
                
                <div class="productosListado">
                    <p> Suculenta </p>
                    <p> $100 </p>
                    <p> Plantas </p>
                    <p class="descripcionProducto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem porro pariatur laudantium quia maiores! Qui eligendi esse in dolores at corrupti. Voluptates eius quibusdam beatae unde ratione inventore enim voluptatem? </p>
                 
                </div>

            </div>
            <div>

                <img class="imagenListado" src="/images/suculenta2.jpg" alt="suculenta2">
                
                <div class="productosListado">
                    <p> Suculenta </p>
                    <p> $100 </p>
                    <p> Plantas </p>
                    <p class="descripcionProducto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem porro pariatur laudantium quia maiores! Qui eligendi esse in dolores at corrupti. Voluptates eius quibusdam beatae unde ratione inventore enim voluptatem? </p>
                 
                </div>

            </div>
            <div>

                <img class="imagenListado" src="/images/suculenta2.jpg" alt="suculenta2">
                
                <div class="productosListado">
                    <p> Suculenta </p>
                    <p> $100 </p>
                    <p> Plantas </p>
                    <p class="descripcionProducto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem porro pariatur laudantium quia maiores! Qui eligendi esse in dolores at corrupti. Voluptates eius quibusdam beatae unde ratione inventore enim voluptatem? </p>
                 
                </div>

            </div>
        </div>

        <%- include('../partials/footer.ejs') %>    

        
    </body>
        
</html>


