<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Productos', stylesheet: 'products/productList.css'}); %>
    <body>
        <%- include('../partials/header.ejs') %>
        <h1 class = "titulo">Listado de productos</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem animi aspernatur ullam, nobis laboriosam tenetur consequuntur. Quam maxime quo quibusdam placeat voluptatibus nisi numquam sapiente neque doloremque, ratione ipsa dolorum quos facere aut ad minus veniam explicabo distinctio nostrum animi commodi corrupti dolorem. Sequi, ullam eligendi? Consequatur enim quam molestias adipisci culpa, impedit esse commodi veniam unde magnam doloremque voluptatem dolorem ipsum fugit deleniti delectus placeat aperiam velit quod officia. Expedita vero atque illo impedit, nobis tempore voluptatem odio quas officiis totam velit suscipit doloribus saepe amet cum aut qui quisquam, sed dolorum culpa rem. Voluptatum placeat aut non repudiandae!</p>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>