header{
    padding:10px 10px 0px 15px;
    margin:0px;
    font-family:'Times New Roman', Times, serif;
}
header h1.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
.container.error{
    display: flex;
    justify-content:center;
    font-style: italic;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    flex-grow: inherit;
    position: relative;
    left: 500px;
}

.estiloFormulario{
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
}
.formularioNombre{
    width: 15%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
}
.botonInicio{
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30%;
}
.subtitulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.cumpleaños{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 30%;
    background-color: #f2f2f2;
    border: 2px solid #ccc;

}
.cumpleañosNombre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

