<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', { title: 'Contacto', stylesheet: '/contacto.css'}) %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="main-container contacto">
        <span style="text-align:center;"><h2>CONTACTO</h2></span>
        <form action="" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" name="email">
            </div>
            <div class="form-group">
                <label for="comment">Comentarios</label>
                <textarea class="form-control" rows="5" id="Comentario" placeholder="Dejanos tu comentario" name="comentario"></textarea>
            </div>
            <button type="submit" class="btn btn-success">ENVIAR</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
