<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', { title: 'Home', stylesheet: 'index.css'}); %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="container main">
            <div class="banner">
                <span class="left">
                    <i class="fas fa-tags"></i><p><strong>10% off en todos los productos</strong><br>Abonando vía transferencia bancaria</p>
                </span>
                <span class="middle">
                    <i class="fas fa-home"></i><p><strong>Quedate en casa</strong><br><a href="https://www.argentina.gob.ar/salud/coronavirus-COVID-19">Información sobre COVID-19</a></p>
                </span>
                <span class="right">
                    <i class="fas fa-map-pin"></i><p><strong>Locales</strong><br><a href="https://goo.gl/maps/BskZFPBJc9bGTiLq6">Buenos Aires</a><br><a href="https://goo.gl/maps/aBShuoiXxbaFa3V88">Córdoba</a></p>
                </span>
            </div>
            <div class="categories">
                <a href="#"><img src="/images/index/green-world.png" alt="Mundo verde"></a>
                <a href="#"><img src="/images/index/deco.png" alt="Deco y objetos únicos"></a>
                <a href="#"><img src="/images/index/workshops.png" alt="Workshops"></a>
            </div>
            <div class="products">
                <section>
                    <article>
                        <img src="/images/suculenta1.jpg"alt="Producto 1">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$1000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta2.jpg"alt="Producto 2">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$2000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta3.jpg"alt="Producto 3">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$3000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta4.jpg"alt="Producto 4">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$4000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta1.jpg"alt="Producto 5">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$1000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta2.jpg"alt="Producto 6">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$2000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta3.jpg"alt="Producto 7">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$3000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta4.jpg"alt="Producto 8">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$4000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta1.jpg"alt="Producto 9">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$1000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta2.jpg"alt="Producto 10">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$2000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta3.jpg"alt="Producto 11">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$3000</p>
                    </article>
                    <article>
                        <img src="/images/suculenta4.jpg"alt="Producto 12">
                        <p class="name">Lorem, ipsum dolor.</p>
                        <p class="price">$4000</p>
                    </article>
                </section>
                <div class="all-products">
                    <a href="#">Ver todos los productos</a>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>