<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/wireframes/css/productDetail.css">
        <title>Bio Garden | Home</title>
    </head>
    <body>
        <header>
            <div>
                <form action="">
                    <label for="query"></label>
                    <input type="text" id="query" name="query">
                    <input type="submit" value="Buscar">
                </form>
                <img width="200 px"src="/Images/logo.png"alt="Bio Garden logo">
                <button>Carrito</button>
                <div>
                    <p>Crear cuenta</p><p>Iniciar sesión</p>
                </div>
            </div>
            <nav>
                <ul>
                    <li>¿Quiénes somos?</li><li>Nuestros productos</li><li>¿Cómo comprar?</li><li>Contacto</li>
                </ul>
            </nav>
        </header>
        <section>
            <p>10% OFF EN TODOS LOS PRODUCTOS ABONANDO CON TRANSFERENCIA BANCARIA</p>
            <p>QUEDATE EN CASA</p>
            <p>LOCALES</p>
        </section>
        <article>
            <img width="300 px"src="/Images/workshop.png"alt="Workshop">
        </article>
        <article>
            <img width="100 px"src="/Images/suculenta1.jpg"alt="Producto 1">
            <img width="100 px"src="/Images/suculenta2.jpg"alt="Producto 2">
            <img width="100 px"src="/Images/suculenta3.jpg"alt="Producto 3">
            <img width="100 px"src="/Images/suculenta4.jpg"alt="Producto 4">
        </article>
        <article>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lFAlXkWK9X0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
        <footer>
            <button>Carrito</button>
            <p>10% OFF EN TODOS LOS PRODUCTOS ABONANDO CON TRANSFERENCIA BANCARIA</p>
            <button>Facebook</button>
            <button>Instagram</button>
            <button>Inbox</button>
        </footer>
    </body>
</html>