<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', { title: 'Home', stylesheet: 'index.css'}); %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="main">
            <div class="promo">
                <span>
                    <i class="fas fa-tags"></i><p>10% OFF EN TODOS LOS PRODUCTOS ABONANDO CON TRANSFERENCIA BANCARIA</p>
                </span>
                <span class="middle">
                    <i class="fas fa-home"></i><p> QUEDATE EN CASA</p>
                </span>
                <span>
                    <i class="fas fa-map-pin"></i><p> LOCALES</p>
                </span>
            </div>
            <div class="products">
                <img class="workshop" width="300 px"src="/Images/workshop.png" alt="Workshop">
                <section>
                    <article>
                        <img width="100 px"src="/Images/suculenta1.jpg"alt="Producto 1">
                        <p>Lorem, ipsum dolor.</p>
                    </article>
                    <article>
                        <img width="100 px"src="/Images/suculenta2.jpg"alt="Producto 2">
                        <p>Lorem, ipsum dolor.</p>
                    </article>
                    <article>
                        <img width="100 px"src="/Images/suculenta3.jpg"alt="Producto 3">
                        <p>Lorem, ipsum dolor.</p>
                    </article>
                    <article>
                        <img width="100 px"src="/Images/suculenta4.jpg"alt="Producto 4">
                        <p>Lorem, ipsum dolor.</p>
                    </article>

                </section>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lFAlXkWK9X0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>