<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <title>Bio Garden | Home</title>
    </head>
    <body>
        <header>
            <div class="brand">
                <form action="">
                    <input type="text" placeholder="Buscar" id="query" name="query"><button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <img class="logo" src="/Images/logo.png"alt="Bio Garden logo">
                <span class="cart-and-account">
                    <button><i class="fas fa-shopping-cart"></i> Carrito $0</button>
                    <nav class="account">
                        <ul>
                            <li><a href="#">Crear cuenta</a></li> | <li><a href="#">Iniciar sesión</a></li>
                        </ul>
                    </nav>
                </span>
            </div>
            <nav class="nav-bar">
                <ul>
                    <li><a href="#">¿Quiénes somos?</a></li>
                    <li><a href="#">Nuestros productos</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <div class="main">
            <div class="promo">
                <span>
                    <i class="fas fa-tags"></i><p>10% OFF EN TODOS LOS PRODUCTOS ABONANDO CON TRANSFERENCIA BANCARIA</p>
                </span>
                <span class="middle">
                    <i class="fas fa-home"></i><p> QUEDATE EN CASA</p>
                </span>
                <span>
                    <i class="fas fa-map-pin"></i><p> LOCALES</p>
                </span>
            </div>
            <div class="products">
                <img class="workshop" width="300 px"src="/Images/workshop.png" alt="Workshop">
                <section>
                    <article>
                        <img width="100 px"src="/Images/suculenta1.jpg"alt="Producto 1">
                        <p>Lorem, ipsum dolor.</p>
                    </article>
                    <article>
                        <img width="100 px"src="/Images/suculenta2.jpg"alt="Producto 2">
                        <p>Lorem, ipsum dolor.</p>
                    </article>
                    <article>
                        <img width="100 px"src="/Images/suculenta3.jpg"alt="Producto 3">
                        <p>Lorem, ipsum dolor.</p>
                    </article>
                    <article>
                        <img width="100 px"src="/Images/suculenta4.jpg"alt="Producto 4">
                        <p>Lorem, ipsum dolor.</p>
                    </article>

                </section>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lFAlXkWK9X0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <footer>
            <span class="contact">
                <strong>Contactanos</strong>
                <ul>
                    <li><i class="fas fa-phone"></i> 1155223366</li>
                    <li><i class="fas fa-at"></i> info@biogarden.com.ar</li>
                    <li><i class="fas fa-map-marker-alt"></i> Av. Santa Fe 3850, Palermo, Buenos Aires, Argentina</li>
                    <li><i class="fas fa-map-marker-alt"></i> José Manuel Estrada 142, Nueva Córdoba, Córdoba, Argentina</li>
                </ul>
            </span>
            <p class="copyright">COPYRIGHT BIO GARDEN | BOTANICA ORGÁNICA - 2020<br>TODOS LOS DERECHOS RESERVADOS.</p>
            <span class="social">
                <div class="socialmedia">
                    <strong>Redes sociales</strong><br>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram-square"></i>
                </div>
                <form action="">
                    <strong>Newsletter</strong><br>
                    <input type="text" placeholder="Email" id="email" name="email"><button type="submit"><i class="fas fa-paper-plane"></i></button>
                </form>
            </span>
        </footer>
    </body>
</html>