<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripcion del Producto</title>
</head>
<body>
    <header><h1>DETALLE DEL PRODUCTO</h1></header>
    <br>
<div>
    <article>Suculentas 
        <br>
    <img class ="suculenta"  height ="200 px" width="200 px" src= "/public/Imagenes/suculenta.jpg" alt="suculenta">
    <h2>DESCRIPCION</h2>
<p>
Plantas rústicas y fuertes. Es necesario ubicarlas en un lugar muy luminoso y si reciben sol de mañana es ideal.
Evitar el rayo solar del mediodía. No pulverizar sus hojas y regar siempre cuando el sustrato se encuentra bien seco</p>
<p><label for="Deja tu comentario">Dejanos tu comentario</label></p>

<textarea name="Comentario" id="" cols="30" rows="10"></textarea>
</article>
</div>
<div>
    <article>
        <h1>SUCULENTAS</h1>
        <H2>PRECIO:$200</H2>
        <h3>18 cuotas de $23,21</h3>
        <a href=""><img  height ="40 px" width="60 px"src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="product-payment-logos-img card-img lazyloaded"></a>
        <a href=""><img  height ="40 px" width="60 px"src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="product-payment-logos-img card-img lazyloaded"></a>
        <a href=""><img  height ="40 px" width="60 px"src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="product-payment-logos-img card-img lazyloaded"></a>
        <p><i class="far fa-credit-card"></i></p>
        <a href=""><H4>VER MEDIO DE PAGO</H4></a>
    <br>
    <form action="/productDetail" method="get">
        <p><label for="TAMANO">TAMANO</label></p>
        <select name="TAMANO" id="">
        <option value="grande">Grande</option>
        <option value="pequeno">Pequeno</option>
        </select>
        <p><label for="cantidad">CANTIDAD</label></p>
        <select name="cantidad" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
</select>
    </form>
    <a href=""><h1>AGREGAR AL CARRITO</h1></a>
    </article>
    

</div>

    
</body>
</html>