<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h1>Carrito de compras</h1> <button><!-- boton de cerrar <--> 
        /button> 
    </header> 
    <br>

    <div>

    <div>
        <header>
    <h2>Producto</h2>
    <h2>Subtotal</h2>                    </header>
    </div>

    <div>
        <article>
    <img src="Images/suculentas2.jpg" alt="imagen de suculentas con maceta"> 
    
    <h3>mini jardin de macetas combinado</h3> <!--le había puesto small en el maquetado pero por la disposicion me parece que va asi
    por otro lado en la pagina guia seria como un link pero quizas se nos haga mucho lio tanto ir y volver. no se que opinan uds.-->

    <h3>$860</h3>

    <h3>$860</h3> <button></button> <!-- acá iría el boton del ícono de eliminar del carrito lo dejo puesto pero no se como ponerlo.-->

<form action=""></form> <!--< en esta parte iría lo de selecionar cuantas cantidades del producto yo lo habia pensado mas como un formulario, o sino un pseudoselector
    inspeccione el de la pagina gupia de atelerier y sale como boton.... de esta forma: -> button type="button" class="js-cart-quantity-btn cart-quantity-btn ajax-cart-quantity-btn" onclick="LS.plusQuantity(339428579, true)">
    <div class="cart-quantity-svg-icon svg-icon-text">
        <svg baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="598 -476.1 1792 1792"><path d="M2198 259.9v192c0 26.7-9.3 49.3-28 68s-41.3 28-68 28h-416v416c0 26.7-9.3 49.3-28 68s-41.3 28-68 28h-192c-26.7 0-49.3-9.3-68-28s-28-41.3-28-68v-416H886c-26.7 0-49.3-9.3-68-28s-28-41.3-28-68v-192c0-26.7 9.3-49.3 28-68s41.3-28 68-28h416v-416c0-26.7 9.3-49.3 28-68 18.7-18.7 41.3-28 68-28h192c26.7 0 49.3 9.3 68 28 18.7 18.7 28 41.3 28 68v416h416c26.7 0 49.3 9.3 68 28s28 41.3 28 68z"></path></svg>				</div>
</button>--> <!-- no se que opinan uds como será mejor me confunde un poco.-->


</article> 

<h3>Subtotal(sin envio)</h3>

<h3>$1410</h3>  <!-- esto estaba puesto como elemento span que seria una porcion de texto corta indiferente a cualquier etiqueta semantica
ver si lo dejamos como h3 o que etiqueta seria más acorde-->

</div>

<footer>
<h2>Total:</h2>
<h2>$1410</h2>
<a href="">Productos</a> <!--el link volvería a productos-->
<button type="submit">Iniciar Compra</button>
</footer>



</body>
</html>