<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', { title: 'Quienes Somos', stylesheet: 'quienesSomos.css'}); %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="main-container contenido">
        <h1>NOSOTROS</h1>
        <p>Somos un grupo dedicado a este mundo verde. El amor por las plantas, la naturaleza y la decoración nos unió. 
            Nos encanta innovar con la naturaleza, y así poder llevar vida a sus espacios.</p>
        <p>curiosidad es la esencia de la marca. Bio Garden no es sólo una tienda, es una comunidad.</p>
        <img class=imagen src="/images/plantaquienessomos.jpg" alt="imagen">
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
