<footer>
    <span class="contact">
        <strong>Contactanos</strong>
        <ul>
            <li><i class="fas fa-phone"></i> 1155223366</li>
            <li><i class="fas fa-at"></i> info@biogarden.com.ar</li>
            <li><i class="fas fa-map-marker-alt"></i> Av. Santa Fe 3850, Palermo, Buenos Aires, Argentina</li>
            <li><i class="fas fa-map-marker-alt"></i> José Manuel Estrada 142, Nueva Córdoba, Córdoba, Argentina</li>
        </ul>
    </span>
    <p class="copyright">COPYRIGHT BIO GARDEN | BOTANICA ORGÁNICA - 2020<br>TODOS LOS DERECHOS RESERVADOS.</p>
    <span class="social">
        <div class="socialmedia">
            <strong>Redes sociales</strong><br>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
        </div>
        <form action="">
            <strong>Newsletter</strong><br>
            <input type="text" placeholder="Email" id="email" name="email"><button type="submit"><i class="fas fa-paper-plane"></i></button>
        </form>
    </span>
</footer>