<footer>
    <div class="container footer">
        <span class="contact">
            <h4>Contactanos</h4>
            <ul>
                <li><i class="fas fa-phone"></i> +541155223366</li>
                <li><i class="fas fa-at"></i> info@biogarden.com.ar</li>
                <li><i class="fas fa-map-marker-alt"></i> Av. Santa Fe 3850, Buenos Aires, Argentina</li>
                <li><i class="fas fa-map-marker-alt"></i> José Manuel Estrada 142, Córdoba, Argentina</li>
            </ul>
        </span>
        <span class="social">
            <h4>Redes sociales</h4>
            <div class="socialmedia">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
            </div>
            <h4>Newsletter</h4>
            <form action="">
                <input type="email" placeholder="Email" id="email" name="email"><button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
        </span>
    </div>
    <p class="container copyright">COPYRIGHT BIO GARDEN | BOTANICA ORGÁNICA - 2020<br>TODOS LOS DERECHOS RESERVADOS.</p>
</footer>