<header>
    <div class="brand">
        <form action="">
            <input type="text" placeholder="Buscar" id="query" name="query"><button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <img class="logo" src="/images/logo.png"alt="Bio Garden logo">
        <span class="cart-and-account">
            <button><i class="fas fa-shopping-cart"></i> Carrito $0</button>
            <nav class="account">
                <ul>
                    <li><a href="#">Crear cuenta</a></li> | <li><a href="#">Iniciar sesión</a></li>
                </ul>
            </nav>
        </span>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a href="#">¿Quiénes somos?</a></li>
            <li><a href="#">Nuestros productos</a></li>
            <li><a href="#">¿Cómo comprar?</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>