<header>
    <div class="container brand">
        <form action="">
            <input type="text" placeholder="Buscar" id="query" name="search_query"><button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <a href="/"><img class="logo" src="/Images/logo.png" alt="Bio Garden"></a>
        <span class="cart-and-account">
            <button><i class="fas fa-shopping-cart"></i> Carrito $0</button>
            <nav class="account">
                <ul>
                    <% if( usuarioLogueado != undefined) {%>
                        <li><a href="/users/profile">Mi Perfil</a></li> | <li><a href="/users/logOut">Cerrar Sesión</a></li>
                    <% } else{ %>
                        <li><a href="/users/register">Crear cuenta</a></li> | <li><a href="/users/login">Iniciar sesión</a></li>
                    <% } %>
                </ul>

            </nav>
        </span>
    </div>
    <nav class="container nav-bar">
        <ul>
            <li><a href="/quienesSomos">¿Quiénes somos?</a></li>
            <li><a href="/products">Nuestros productos</a></li>
            <li><a href="/comoComprar">¿Cómo comprar?</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <div class="container header-mobile">
        <div class="menu">
            <a href=""><i class="fas fa-bars"></i> Menú</a>
            <nav class="nav-bar-mobile">
                <ul>
                    <li><a href="/quienesSomos">¿Quiénes somos?</a></li>
                    <li><a href="/comoComprar">¿Cómo comprar?</a></li>
                    <li><a href="/products">Nuestros productos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
            <nav class="account-mobile">
                <ul>
                    <li><a href="/users/register">Crear cuenta</a></li> | <li><a href="/users/login">Iniciar sesión</a></li>
                </ul>
            </nav>
        </div>
        <img class="logo" src="/Images/logo.png" alt="Bio Garden">
        <div class="search-and-cart">
            <form action="">
                <input type="text" id="query" name="search_query"><button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <button><i class="fas fa-shopping-cart"></i></button>
        </div>
    </div>
</header>