/*titulo*/
.suculentas{
text-align: center;
font-weight: bold;
text-transform: uppercase;
font-size:20px;
}


.principal{
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
    padding:30px 10px 20px 15px;
    margin:0px;
   

}

.primera{
    display: flex;
    flex-wrap:nowrap;
    flex-direction:column;
    padding:30px 10px 20px 15px;
    border: 2px solid grey;
    width:60%;
    
}


.caja1{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content:space-around;
}

.caja1-1{
    margin:10px;
    display:flex;
    align-items: center;
}

/*--imagenes--*/
.suculenta1{
    width:300px;
    height:300px;
    
    
}
.imagenes{
    flex-grow:0.7;
}
.suculenta2{
    width:200px;
    height:200px;
    padding-bottom:5px;
}
.suculenta3{
    width:200px;
    height:200px;
}
.caja1-2{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column;
    
}

.caja1-3{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column;
}
.titulo3{
    font-weight: bold;
}
.comentario{
    margin-bottom: 15px;
}


.segunda{
    padding:25px;

}
.caja2{
    display: flex;
    flex-wrap:nowrap;
    flex-direction:column;
    align-items:space-around;
    padding-left:25px;
    flex-direction: column;
    width:50%;
    margin-bottom: 30px;
   
}
.caja2-2{
    display: flex;
    margin-bottom: 15px;

}
.form1{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:flex-start;

}
.form1 > *{
    margin-bottom: 30px;

}

.carritoenviar{
    background-color: rgb(6, 81, 100);

}

input:hover{
    background-color: grey;
}

button:hover{
    background-color: grey;

}
/*laptop*/
@media (max-width:768px){
    .suculenta1{

        width:200px;
        height:200px;

        
    }
}
    



@media (max-width:375px){
    .caja1{
        width: 80%;
        display: flex;
     flex-direction: column;
     justify-content: center;
    }
}

@media(max-width:375px){
    .principal{
        flex-direction:column;
       
    }
    .primera{
        width:90%;
        align-items:center;
    }
    .suculenta1{
        width:200px;
        height:200px;
    }
    .caja1-3{
        align-items: center;

    }
    .caja2{
        align-items: center;  
    }

    .caja2-2{
        
        margin-left:70px;

    }
}


