/* =================
- PRODUCT CREATE
================= */

.container-1 {
    margin-bottom: 10px;
}

.container-1 .titulo  {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size:20px;   
}

.container-1 .descripcion {
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

.container-1 .caja-container-1 {
    padding:15px;
}

.container-1 .caja-container-1 form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-1 .caja-container-1 form > * {
    width: 50%;
}

.container-1 .caja-container-1 form .crearProducto {
    width: 25%;
    padding: 5px;
    font-size: 15px; 
    background-color:blue;
    color:white;
    font-size:15px;
}
