/* =================
- PRODUCT CREATE
================= */

.container-1 {
    margin-bottom: 10px;
}

.container-1 .titulo  {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size:20px;   
}

.container-1 .descripcion {
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

.container-1 .caja-container-1 {
    padding:15px;
}

.container-1 .caja-container-1 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-1 .caja-container-1 form > * {
    width: 50%;
}

.container-1 .caja-container-1 form .crearProducto {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.container-1 .caja-container-1 form select {
    width: 100%
}
