/* =================
- PRODUCT DETAIL
================= */

.product{
    width: 90%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
}

.product .product-left-col {
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.product .product-left-col img.image {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}
.product .product-left-col h3 {
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.product .product-left-col .desc-content {
    margin-bottom: 20px;
}

.product .product-left-col form.comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product .product-left-col form.comments textarea {
    width: 83%;
    padding: 5px;
}

.product .product-left-col form.comments input {
    width: 15%;
}

.product .product-right-col {
    padding: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.product .product-right-col h2 {
    padding: 5px 0px;
    font-size: 25px;
    text-align: left;
}

.product .product-right-col .price {
    font-weight: 500;
    font-size: 30px;
}

.product .product-right-col .promo {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px gray;
}

.product .product-right-col .promo .cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product .product-right-col .promo .cards a img {
    margin-right: 5px;
    height: 20px;
}

.product .product-right-col form.add-to-cart {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.product .product-right-col form.add-to-cart > * {
    margin: 5px 0px;
}

.product .product-right-col form.add-to-cart select {
    width: 25%;
}

.product .product-right-col form.add-to-cart input {
    width: 25%;
    text-align: right;
}

.product .product-right-col form.add-to-cart button {
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: #2c3e50;
    text-transform: uppercase;
}

/*laptop*/
@media (max-width:768px){
    .suculenta1{

        width:200px;
        height:200px;

        
    }
}
    



@media (max-width:375px){
    .caja1{
        width: 80%;
        display: flex;
     flex-direction: column;
     justify-content: center;
    }
}

@media(max-width:375px){
    .principal{
        flex-direction:column;
       
    }
    .primera{
        width:90%;
        align-items:center;
    }
    .suculenta1{
        width:200px;
        height:200px;
    }
    .caja1-3{
        align-items: center;

    }
    .caja2{
        align-items: center;  
    }

    .caja2-2{
        
        margin-left:70px;

    }
}


