<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/wireframes/css/login.css">
    <title>Document</title>
</head>
<body>
    <header><h1 class = "titulo">Iniciar Sesion</h1></header> 

    <form class = "form">
        <input type="email" id="Email" name="email" class = "emailInput" placeholder = "Email..."><br><br>
        <input type="password" id="pwd" name="pwd"class = "emailInput" placeholder = "Contraseña..."><br><br>
        <a href="">¿Olvidaste tu contraseña?</a>
        <a>|</a>
        <a href="/registro">Registrarse</a>
        <br><br>
        <input type="submit" value="Iniciar Sesion" class = "botonInicio">

    </form>

</body>
</html>