<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Iniciar sesión', stylesheet: 'users/login.css'}); %>
    <body>
        <%- include('../partials/header.ejs') %>
        <div class = "container-error"><% if (typeof errors != "undefined" ){%>
            <p class = "error" style="color: red;">ERROR</p>
            <ul>
                <% for (let i=0; i<errors.length;i++){ %>
                    <li>
                        <%= errors[i].msg%>
                    </li>

                    <%}%>
            </ul>

        <%}%>
        <main>

            <section class="login">
                <h1>Login</h1>
            </section>
    
            <section class="form">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password">
                    </div>
                    <div class="remember">
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember">Recordame</label>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
            </section>
    
        </main>
    
        <%- include('../partials/footer.ejs') %>
    </body>
</html>