<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Iniciar sesión', stylesheet: 'users/login.css'}); %>
    <body>
        <%- include('../partials/header.ejs') %>
        <form class = "flex">
            <input type="email" id="Email" name="email" class = "emailInput" placeholder = "Email..."><br>
            <input type="password" id="pwd" name="pwd"class = "emailInput" placeholder = "Contraseña..."><br>
            <ul class= "flex2">
            <a href="">¿Olvidaste tu contraseña?</a>
            <a>|</a> <a href="/registro">Registrarse</a>
            <br><br>
            </ul>
            <input type="submit" value="Iniciar Sesion" class = "botonInicio">
            
        </form>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>