<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Crear cuenta', stylesheet: 'users/register.css'}); %>
    <body>
        <%- include('../partials/header.ejs') %>
        <form class= "flex">
            <p class = "subtitulo" >Crear cuenta </p>
            <input type="name" id="name" name="nombre" class = "estiloFormulario" class = "formularioNombre" placeholder = "Nombre..."><br>
            <input type="sureName" id="sName" name="sureName"class = "estiloFormulario" class = "formularioNombre" placeholder = "Apellido..."><br>
            <label for="birthday" class = "cumplea単osNombre" class = "estiloFormulario"> Fecha de nacimiento:</label>
            <input type="date" id="birthday" name="birthday" class = "cumplea単os"><br>
            <input type="email" id="email" name="email"class = "estiloFormulario" placeholder = "Email..."><br>
            <input type="telephone" id="telephone" name="telefono" class = "estiloFormulario" placeholder = "Telefono..."><br>
            <input type="password" id="pwd" name="pwd"class = "estiloFormulario" placeholder = "Contrase単a..."><br>
            <input type="password" id="repwd" name="pwd"class = "estiloFormulario" placeholder = "Repetir Contrase単a..."><br>
            <input type="submit" value="Registrarse" class = "botonInicio">
            
        </form>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>