<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Crear cuenta', stylesheet: 'users/register.css'}); %>
    <body>
        <%- include('../partials/header.ejs') %>
        <div class = "container-error"><% if (typeof errors != "undefined" ) { %>
            <p class = "error" style="color: red;">ERROR</p>
            <ul>
                <% for (let i=0; i<errors.length;i++){ %>
                    <li>
                        <%= errors[i].msg%>
                    </li>

                    <%}%>
            </ul>

        <%}%>
    </div>
        <form action= "" method= "POST"  enctype="multipart/form-data" class= "flex">

            <p class = "subtitulo" >Crear cuenta </p>
            <input type="name" id="name" name="nombre" class = "estiloFormulario" class = "formularioNombre" placeholder = "Nombre..."><br>
            <input type="sureName" id="sName" name="sureName" class = "estiloFormulario" class = "formularioNombre" placeholder = "Apellido..."><br>   
            <input type="email" id="email" name="email"class = "estiloFormulario" placeholder = "Email..."><br>
            <input type="password" id="pwd" name="password" class = "estiloFormulario" placeholder = "Contraseña..."><br>
            <label for="avatar">Imagen de perfil</label>
            <input id="avatar" type='file' name="avatar">
            <input type="submit" value="Registrarse" class = "botonInicio">
            
        </form>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>